// Colours
$color-panel-off-black: #333333;
$color-panel-dark-grey: #606061;
$color-panel-off-white: #f7f7f7;
$color-panel-darker-grey: #414040;
$color-panel-address-dark: #4F4D4D;
$color-panel-address: #666666;
$color-panel-for-sale: #F8F8F8;
$color-panel-reserved: #E5E5E5;
$color-panel-sold: #939394;
$color-panel-red: #D82332;
$color-panel-light-grey: #D8D8D8;
$color-panel-form-fields: #F5F4F4;
$color-panel-blue: #4A90E2;
$color-developments-panel: #424141;
$color-developments-name: #9B9B9B;
$color-font-off-white: #f7f7f7;
$color-font-light-grey: #727272;
$color-font-dark-grey: #595A59;
$color-font-darker-grey: #414040;
$color-font-red: #D82332;
$color-font-blue: #4A90E2;
$color-partners-contact: #79C9B6;